<div class="heading">
  <h2>{{currentYear$ | async}} - {{(currentYear$ | async) + 1}} Tournaments</h2>
</div>
<ul class="tournaments">
  <li *ngFor="let tourney of tournaments$ | async">
    <div class="bg-image"></div>
    <div class="tourney-content">
      <div *ngIf="tourney.Name">
        <h3> {{tourney.Name}}</h3>
      </div>
      <div *ngIf="tourney.StartDate"><p class="date">{{tourney.StartDate | date}}</p></div>
      <div class="venue" *ngIf="tourney.Venue">
        <h4>{{tourney.Venue}}</h4>
        <span *ngIf="tourney.Location">{{tourney.Location}}</span>
      </div>
      <div class="purse" *ngIf="tourney.Purse">
        <p><span>Purse: </span>{{tourney.Purse | currency}}</p>
      </div>
    </div>
  </li>
</ul>
