<div class="actions">
  <span>
    <label for="search">Search: </label>
    <input name="search" [ngModel]="search$ | async" (ngModelChange)="doSearch($event)" />
  </span>
  <span>
    <span class="buttons">
      <button (click)="setPage(-1)" [disabled]="(page$ | async) === 0">Prev</button>
      <button (click)="setPage(1)" [disabled]="(page$ | async) === (lastPage$ | async)">Next</button>
    </span>
  </span>
  <span>
    <label for="limit">Limit Results </label>
    <span *ngFor="let limit of limits">
      <button (click)="setLimit(limit)" [disabled]="limit === (limit$ | async)">{{limit}}</button>
    </span>
  </span>
  <span>
    Total Players: {{total$ | async}}
  </span>
</div>
<div class="players-wrapper">
  <ng-container *ngIf="searchedPlayers$ | async; else loading">
    <ul>
      <li *ngFor="let player of searchedPlayers$ | async"
        [routerLink]="['/player', (player.FirstName+'-'+player.LastName)]" [queryParams]="{'id': player.PlayerID}">
        <div class="players-content">
          <div class="bg-image"></div>
          <div class="image"><img [src]="player.PhotoUrl" [alt]="player.FirstName + ' ' + player.LastName" /></div>
          <h2>{{player.FirstName}} {{player.LastName}}</h2>
        </div>
      </li>
    </ul>
  </ng-container>
  <ng-template #loading>
    <div class="loading">
      Loading Players...
    </div>
  </ng-template>
</div>
<footer>
  <span for="page">Page {{displayPage$ | async}} of {{totalPages$ | async}} </span>
</footer>
