.actions {
  display: flex;
  padding: 12px 16px;
  box-sizing: border-box;
  background: #ebebeb;
  justify-content: space-evenly;
  align-items: center;
  border-bottom: 1px solid #ddd;
  box-shadow: 0 1px 5px #ddd;

  span {
    display: flex;
  }

  label {
    display: block;
    margin-right: 8px;
  }

  input {
    padding: 4px 12px;
    border: 1px solid #ddd;
    border-radius: 10px;
    min-width: 120px;
  }

  button {
    border: none;
    background: #ddd;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    padding: 8px;
    margin: 0 2px;
    border-radius: 4px;
    box-sizing: content-box;
  }
}

ul {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  justify-content: flex-start;
  margin: 0;
  padding: 0 0 100px;
}

li {
  background-color: #fcfcfc;
  display: flex;
  width: calc(100% - 24px);
  min-height: 115px;
  flex-basis: calc(100% - 24px);
  background-blend-mode: overlay;
  border-radius: 6px;
  box-sizing: border-box;
  margin: 16px 12px;
  padding: 0;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  overflow: hidden;

  &:hover {
    background-color: #f6f6f6;
  }

  @media screen and (min-width: 768px) {
    width: calc(25% - 24px);
    flex-basis: calc(25% - 24px);
  }

  .players-content {
    display: flex;
    z-index: 2;
    box-sizing: border-box;
    align-items: center;
    width: 100%;
  }

  .bg-image {
    background-image: url(../../../assets/golf-tee.png);
    width: 25px;
    min-height: 119px;
    opacity: 0.5;
    background-size: 47%;
    background-repeat: no-repeat;
    background-color: rgba(80, 80, 80, 0.25);
    background-position: 50% 50%;
    padding: 0 12px;
  }

  .image {
    display: block;
    width: 65px;
    height: 90px;
    margin: 0 12px;
    border-radius: 50%;
    overflow: hidden;
  }

  h2 {
    font-size: 20px;
  }
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 3;
  background: #ebebeb;
border-top: 1px solid #ddd;
box-shadow: 0 -1px 5px #ddd;
  padding: 0.8rem;
  width: 100%;
  bottom: 0;
  left: 0;
}
